:root {
  --text-color: #2c3e50;
  --border-color: #95989a;
}

html, body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  height: 100%;
}

.standard-shadow {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
}

.text-align-center {
  text-align: center;
}

.h-100 {
  height: 100%;
}