.page-enter-active {
  animation: coming .5s;
  opacity: 0;
}
.page-leave-active {
  animation: going .5s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slide-from-left-enter-active,
.slide-from-left-leave-active {
	transition: all .5s ease;
}

.slide-from-left-enter,
.slide-from-left-leave-to {
	transform: translate(-100%, 0);
}

.fade-enter-active, 
.fade-leave-active {
	opacity: .75;
	transition: opacity .3s;
}

.fade-enter, 
.fade-leave-to {
	opacity: 0;
}